.pager a {
  cursor: pointer;
}

.list-inline>li {
    padding-bottom: 5px;
}

.loading-icon {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}