<div *ngIf="ticket">
    <hr />
    <h4>
        Ticket #{{ticket.id}} Details
        <span class="pull-right">
            Server: {{ticket._embedded.employee.first_name}} {{ticket._embedded.employee.last_name}}
        </span>
    </h4>
    <h6>
        Opened: {{ticket.opened_at*1000 | date:'medium'}}
        <span class="pull-right">
            Table: {{ticket._embedded.revenue_center.name}}
        </span>
    </h6>
</div>
<ticket-detail-items></ticket-detail-items>
<ticket-detail-services></ticket-detail-services>
<ticket-detail-voided></ticket-detail-voided>
<ticket-detail-totals></ticket-detail-totals>