<h1>
    Hello Omnivore
    <button 
        class="btn btn-default pull-right"
        (click)="clearSelectedTicket()"
        *ngIf="selectedTicket">Back</button>  
</h1>
<section *ngIf="!selectedTicket">
    <hr />
    <h2>
        Open Tickets
        <button class="btn btn-default" (click)="refreshTicketList()">
            <i [class.loading-icon]="isLoadingTickets" class="glyphicon glyphicon-refresh"></i>
        </button>
    </h2>

    <nav *ngIf="links && (links.prev || links.next)">        
        <ul class="pager">
            <li [class.disabled]="!links.prev" class="previous">
                <a (click)="links.prev && getTickets(links.prev.href)"><span aria-hidden="true">&larr;</span>Previous</a>
            </li>
            <li [class.disabled]="!links.next" class="next">
                <a (click)="links.next && getTickets(links.next.href)">Next<span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>

    <ul class="tickets list-inline">
        <li *ngFor="let ticket of tickets">
            <button 
                class="btn btn-default" 
                (click)="onSelect(ticket)"> Ticket #{{ticket.id}}</button>
        </li>
    </ul>
    <p *ngIf="!tickets && !isLoadingTickets">All tickets closed!</p>
</section>

<div class="progress" *ngIf="isLoadingTicket">
    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
        Loading ticket info
    </div>
</div>

<ticket-detail></ticket-detail>