<div *ngIf="ticket">
    <hr />
    <h4>
        Ticket #{{ticket.id}} Details
        <span class="pull-right">
            Server: {{ticket._embedded.employee.first_name}} {{ticket._embedded.employee.last_name}}
        </span>
    </h4>
    <h6>
        Opened: {{ticket.opened_at*1000 | date:'medium'}}
        <span class="pull-right">
            Table: {{ticket._embedded.revenue_center.name}}
        </span>
    </h6>

    <table class="table table-condensed" *ngIf="ticket._embedded.items.length">
        <caption>Items</caption>
        <tbody>
            <tr *ngFor="let item of ticket._embedded.items">
                <td>
                    <span *ngIf="item.quantity/item.split > 1">{{item.quantity/item.split}}</span>
                    {{item.name}}
                </td>
                <td>{{item.price | currency:'USD':true}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-condensed" *ngIf="ticket._embedded.service_charges.length">
        <caption>Services</caption>
        <tbody>
            <tr *ngFor="let service of ticket._embedded.service_charges">
                <td>
                    {{service.name}}
                </td>
                <td>{{service.price | currency:'USD':true}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-condensed" *ngIf="ticket._embedded.voided_items.length">
        <caption>Voided Items</caption>
        <tbody>
            <tr *ngFor="let voided of ticket._embedded.voided_items">
                <td>
                    <span *ngIf="voided.quantity > 1">{{voided.quantity}}</span>
                    {{voided.name}}
                </td>
                <td>{{voided.price | currency:'USD':true}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-condensed" *ngIf="hasTotals(ticket.totals)">
        <caption>Ticket Total</caption>
        <tbody>
            <tr *ngIf="ticket.totals.items">
                <td>ITEM TOTAL</td>
                <td>{{ticket.totals.items | currency:'USD':true}}</td>
            </tr>
            <tr *ngIf="ticket.totals.other_charges">
                <td>OTHER</td>
                <td>{{ticket.totals.other_charges | currency:'USD':true}}</td>
            </tr>
            <tr *ngIf="ticket.totals.discounts">
                <td>DISCOUNTS</td>
                <td>-{{ticket.totals.discounts | currency:'USD':true}}</td>
            </tr>
            <tr *ngIf="ticket.totals.sub_total">
                <td>SUBTOTAL</td>
                <td>{{ticket.totals.sub_total | currency:'USD':true}}</td>
            </tr>
            <tr *ngIf="ticket.totals.service_charges">
                <td>SERVICE</td>
                <td>{{ticket.totals.service_charges | currency:'USD':true}}</td>
            </tr>
            <tr *ngIf="ticket.totals.tax">
                <td>TAX</td>
                <td>{{ticket.totals.tax | currency:'USD':true}}</td>
            </tr>
            <tr *ngIf="ticket.totals.total">
                <td>TOTAL</td>
                <td>{{ticket.totals.total | currency:'USD':true}}</td>
            </tr>
            <tr *ngIf="ticket.totals.tips">
                <td>GRATUITY</td>
                <td>{{ticket.totals.tips | currency:'USD':true}}</td>
            </tr>
            <tr *ngIf="ticket.totals.paid">
                <td>PAID</td>
                <td>{{ticket.totals.paid | currency:'USD':true}}</td>
            </tr>
            <tr *ngIf="ticket.totals.due">
                <td>BALANCE DUE</td>
                <td>{{ticket.totals.due | currency:'USD':true}}</td>
            </tr>
        </tbody>
    </table>
</div>